body {
background: url(https://s8.hostingkartinok.com/uploads/images/2017/07/bdfea6cd72db6b393a9fd90c35909424.png);
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
background-size: cover;
}
header {
position: fixed;
}
@font-face {
font-family: Orbitron-Light;
src: url(10423.ttf);
}
@font-face {
font-family: Continuum Medium;
src: url(9729.ttf);
}
@font-face {
font-family: Exo;
src: url(9841.otf);
}